body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

h1 {
    color: #E91E63;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
}

.shapes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shape {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: grab;
    transition: transform 0.3s ease-in-out;
}

.shape.orange {
    background-color: orange;
}

.shape.green {
    background-color: green;
}

.dropzone {
    width: 80px;
    height: 80px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: background-color 0.3s, transform 0.2s;
}

.dropzone.filled {
    border: none;
}

.message {
    display: none;
    color: #4CAF50;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#errorSound {
    display: none;
}

#resetButton {
    display: none;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
