body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #E91E63;
    font-size: 24px;
}

.game-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.shapes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    order: 1; /* Şekiller solda olacak */
}

.pattern-container {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.shape {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    cursor: grab;
    transition: all 0.3s ease-in-out;
}

.shape.green {
    background-color: green;
}

.dropzone {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
}

.message {
    display: none;
    color: #4CAF50;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.error {
    color: #F44336;
}

.bounce {
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .shape {
        width: 60px;
        height: 60px;
    }

    .dropzone {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    .game-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .shape {
        width: 50px;
        height: 50px;
    }

    .dropzone {
        width: 60px;
        height: 60px;
    }
}
